/**
 * @name ClearVision V7 Amber for Vencord (Customized)
 * @author ClearVision Team
 * @version 7.0.0
 * @description Highly customizable theme for BetterDiscord.
 * @source https://github.com/ClearVision/ClearVision-v7
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */

/* IMPORT CSS */
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@100;300;400;500;700&display=swap");
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");
@import url("https://discordstyles.github.io/RadialStatus/dist/RadialStatus.css");

/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #FF8A00;
  --hover-color: #D5601E;
  --success-color: #43b581;
  --danger-color: #982929;
  --url-color: #FF9900;
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;
  /* APP BACKGROUND */
  --background-image: url('https://images3.alphacoders.com/593/593270.jpg');
  --background-attachment: fixed;
  --background-position: center;
  --background-size: cover;
  --background-repeat: no-repeat;
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1));
  --background-blur: 2px;
  --background-overlay: rgba(0, 0, 0, 0.6);
  /* USER POPOUT BACKGROUND */
  --user-popout-image: url('https://clearvision.github.io/images/sapphire.jpg');
  --user-popout-attachment: fixed;
  --user-popout-filter: var(--background-filter);
  --user-popout-blur: 3px;
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--user-popout-image);
  --user-modal-attachment: var(--user-popout-attachment);
  --user-modal-filter: var(--user-popout-filter);
  --user-modal-blur: var(--user-popout-blur);
  /* HOME ICON */
  --home-icon: url('https://clearvision.github.io/icons/discord.svg');
  --home-position: center;
  --home-size: 40px;
  /* FONTS */
  --main-font: Arvo, Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
  /* UI WIDTHS */
  --channels-width: 220px;
  --members-width: 240px;
  --channel-unread: var(--main-color);
  --channel-color: rgba(255, 255, 255, 0.3);
  --muted-color: rgba(255, 255, 255, 0.1);
  --backdrop-overlay: rgba(0, 0, 0, 0.8);
  --backdrop-image: var(--background-image);
  --backdrop-position: var(--background-position);
  --backdrop-size: var(--background-size);
  --backdrop-repeat: var(--background-repeat);
  --backdrop-attachment: var(--background-attachment);
  --backdrop-blur: var(--background-blur);
  --bd-blue: var(--main-color);
  --bd-blue-hover: var(--hover-color);
  --bd-blue-active: var(--hover-color);
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3);
  --card-shading: rgba(252, 252, 252, 0.3);
  --popout-shading: rgba(252, 252, 252, 0.7);
  --modal-shading: rgba(252, 252, 252, 0.5);
  --input-shading: rgba(0, 0, 0, 0.3);
  --normal-text: #36363c;
  --muted-text: #75757e;
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.2);
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4;
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6);
  --card-shading: rgba(0, 0, 0, 0.3);
  --popout-shading: rgba(0, 0, 0, 0.7);
  --modal-shading: rgba(0, 0, 0, 0.5);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #fbfbfb;
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4);
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6);
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* Any custom CSS below here */
